
html {
	background-color: #222;
}

body {
	background-color: #f8f8f8;
	position: relative;
}

.content {
	background-color: #f8f8f8;
	min-height: 35em;

}

.footer {
	margin-top: 80px;
	padding-top: 30px;
	padding-bottom : 30px;

	background-color: #222;
	color: #777;
}

.sticky-scrolling {
	position: fixed;
	top: 0;

	padding-top: 15px;
}

/***** CHANNELS/INDEX *****/

.row.top-buffer {
	margin-top: 15px;
}

/* channelcards use 10px margin, bootstrap rows uses 15px.
   this aligns both of them correctly (dont ask) */
.channel-card-row {
	margin-top : 15px;
	margin-left: -10px;
	margin-right: -10px;
}

.channel-card {
	padding-left: 10px;
	padding-right: 10px;
}

.channel-card a.thumbnail {
	text-decoration: none;
	color: inherit;
	height: 275px;
}

.placeholder-image-group {
	position: relative;
}
.placeholder-image-group > img:not(.placeholder) {
	position: absolute;
	top: 0;
	left: 0;
}

.channel-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;s
}

/***** CHANNELS/VIEW *****/

.revert-nav-spacing {
	margin-top: -20px;
}

iframe {
	border: none;
	width: 100%;
}

.embed-responsive.embed-responsive-15by9 {
	padding-bottom: 60%;
}

#chat-embed {
	position: fixed;
}

.col-no-padding {
	padding-left: 0;
	padding-right: 0;
}

#channel-description {
	overflow-x: scroll;
}

.mastery-tree-offense,
.mastery-tree-defense,
.mastery-tree-utility {
	background-size: 100% auto;
}
.mastery-tree-offense {
	background-image: url('/img/mastery-tree-1.jpg');
}
.mastery-tree-defense {
	background-image: url('/img/mastery-tree-2.jpg');
}
.mastery-tree-utility {
	background-image: url('/img/mastery-tree-3.jpg');
}

.mastery {
	padding: 2px;
}
.mastery img {
	width: 100%;
}
.mastery.disabled img {
	opacity: 0.5;
}
.mastery .rank-info {
	position: absolute;
	bottom: 5px; right: 5px;
	padding: 5px;
	font-size: 0.8em;
	color: #fff;
	background: #000;
	opacity: 0.7;
}
.mastery.disabled .rank-info {
	display: none;
}

/***** SPINNER *****/

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  margin: 8em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader:before {
  left: -3.5em;
}
.loader:after {
  left: 3.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #000;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #000;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #000;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #000;
  }
}
