<div class="channel-card-row" data-bind="foreach: currentPageChannels">
	<div class="channel-card col-xs-6 col-sm-4 col-md-3">
		<a class="thumbnail" data-bind="attr: { href: '/watch/' + Channel.name }">
			<div class="placeholder-image-group">
				<img class="placeholder img-responsive" src="/img/channel-placeholder.gif" />
				<img class="img-responsive" data-bind="attr:{src: Channel.preview_url}" />
			</div>
			<div class="caption">
				<h5 class="channel-title" data-bind="text: Channel.title, tooltip: { title: Channel.title, placement: 'bottom' }"></h5>
				<div class="clearfix">
					<p class="pull-left"><small>
						<strong data-bind="text: Channel.display_name"></strong> -
						<strong data-bind="text: Channel.viewers_count"></strong> Viewers
						<!-- ko if: MainSummoner.id -->
						<br />
						<strong data-bind="text: $parent.tierNames[MainSummoner.tier_number]"></strong>
						<strong data-bind="text: $parent.divisionNames[MainSummoner.division]"></strong>
						 - <span data-bind="text: MainSummoner.league_points"></span> LP
						 <!-- /ko -->
					</small></p>
					<p class="pull-right">
						<span class="glyphicon" data-bind="click: $parent.toggleFavorite,
							tooltip: { title: 'Click to add/remove '+Channel.display_name+' as a favorite channel', placement: 'bottom' },
							css: { 'glyphicon-star-empty': $parent.favorites.indexOf(Channel.name) == -1, 'glyphicon-star':  $parent.favorites.indexOf(Channel.name) != -1 }">
						</span>
					</p>
				</div>
			</div>
		</a>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 clearfix" data-bind="if: channels().length != ko.unwrap(channelsPerPage) && channels().length > 0">
		<div class="panel panel-default pull-left">
			<div class="panel-body">
				<strong data-bind="text: channels().length"></strong> Channels
			</div>
		</div>

		<ul class="pagination pull-right" data-bind="if: pagesCount() > 1">
			<li data-bind="css: { disabled: currentPage() == 0 }">
				<a href="#" data-bind="click: previousPage">&laquo;</a>
			<li>
			<!-- ko foreach: ko.utils.range(0, pagesCount() - 1) -->
			<li data-bind="css: { active: $parent.currentPage() == $data }">
				<a href="#" data-bind="text: $data + 1, click: $parent.currentPage"></a>
			</li>
			<!-- /ko -->
			<li data-bind="css: { disabled: currentPage() + 1 == pagesCount() }">
				<a href="#" data-bind="click: nextPage">&raquo;</a>
			</li>
		</ul>
	</div>
</div>
