<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h4>
				<span data-bind="text: masteries().name"></span> -
				<span data-bind="text: getTotalPoints(1)"></span> /
				<span data-bind="text: getTotalPoints(2)"></span> /
				<span data-bind="text: getTotalPoints(3)"></span>
			</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="container-fluid mastery-tree-offense" data-bind="foreach: ko.utils.range(1, 6)">
				<div class="row" data-bind="foreach: ko.utils.range(1,4)">
					<div class="col-xs-3 col-no-padding" data-bind="if: $parents[1].isValidMastery(1, $parent, $data)">
						<div class="mastery" data-bind="css: { disabled: $parents[1].getMasteryRank(1, $parent, $data) == 0 }">
							<img class="img-responsive" data-bind="attr: { src: $parents[1].getMasteryImgUrl(1, $parent, $data) }" />
							<div class="rank-info">
								<span data-bind="text: $parents[1].getMasteryRank(1, $parent, $data)"></span> /
								<span data-bind="text: $parents[1].getMaxRank(1, $parent, $data)"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="container-fluid mastery-tree-defense" data-bind="foreach: ko.utils.range(1, 6)">
				<div class="row" data-bind="foreach: ko.utils.range(1,4)">
					<div class="col-xs-3 col-no-padding" data-bind="if: $parents[1].isValidMastery(2, $parent, $data)">
						<div class="mastery" data-bind="css: { disabled: $parents[1].getMasteryRank(2, $parent, $data) == 0 }">
							<img class="img-responsive" data-bind="attr: { src: $parents[1].getMasteryImgUrl(2, $parent, $data) }" />
							<div class="rank-info">
								<span data-bind="text: $parents[1].getMasteryRank(2, $parent, $data)"></span> /
								<span data-bind="text: $parents[1].getMaxRank(2, $parent, $data)"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="container-fluid mastery-tree-utility" data-bind="foreach: ko.utils.range(1, 6)">
				<div class="row" data-bind="foreach: ko.utils.range(1,4)">
					<div class="col-xs-3 col-no-padding" data-bind="if: $parents[1].isValidMastery(3, $parent, $data)">
						<div class="mastery" data-bind="css: { disabled: $parents[1].getMasteryRank(3, $parent, $data) == 0 }">
							<img class="img-responsive" data-bind="attr: { src: $parents[1].getMasteryImgUrl(3, $parent, $data) }" />
							<div class="rank-info">
								<span data-bind="text: $parents[1].getMasteryRank(3, $parent, $data)"></span> /
								<span data-bind="text: $parents[1].getMaxRank(3, $parent, $data)"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
