<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h4 data-bind="text: runes().name"></h4>
		</div>
	</div>
	<div class="row" data-bind="foreach: runeSets">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="media rune clearfix">
						<div class="pull-left">
							<img class="media-object" width="64" data-bind="attr: { src: '/img/rune-'+type+'.png' }" />
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<span data-bind="text: number"></span> ×
								<span data-bind="text: name"></span>
							</h4>
							<p><span data-bind="text: description"></span> each</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>